.chat__body {
  padding: 10px 0;
}
.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  background-color: #ffffff;
}

.chat__body .header,
.chat__body .status-bar {
  padding: 0px 20px;
}

.chat {
  background-image: url(../images/chatBg.png);
  min-height: 1000vh;
  padding-top: 108px;
}
.chat__write-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.chat__write {
  width: 100%;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  margin: 0 auto;
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.chat__icon-left {
  position: absolute;
  left: 20px;
}
.chat__icon-right {
  position: absolute;
  right: 20px;
}
.chat__icon-right span:last-child {
  margin-left: 10px;
}
.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  padding-top: 15px;
}
.chat__messages .chat__timestamp {
  padding: 7px 14px;
  font-size: 13px;
  background-color: #f7f7f7;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #797979;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.incoming-message img {
  width: 50px;
  border-radius: 25px;
  margin-right: 15px;
}

.message {
  display: flex;
  align-items: flex-start;

  margin-bottom: 40px;
}

.message .message__bubble {
  padding: 10px 15px;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}
.incoming-message {
  align-self: flex-start;
}
.chat__messages .sent-message {
  align-self: flex-end;
}
.incoming-message .message__bubble {
  border-top-left-radius: 0px;
  background-image: linear-gradient(to right, #e9e4f0, #003973);
}
.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to left, #e9e4f0, #cc95c0);
}
.incoming-message .message__autor {
  /* background-color: red; */
  margin-left: 15px;
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.message .message__timestamp {
  align-self: flex-end;
  font-size: 11px;
  color: #999999;
}
.incoming-message .message__timestamp {
  margin-left: 10px;
}
.sent-message .message__timestamp {
  margin-right: 10px;
}
